/*Header*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mu-primary);
}

/*Logo Image*/
.logo{
  flex-shrink:2;
  margin:20px;
}
.logo img{
  width:100%;
}

/*Dropdown menu from button*/
.dropdown {
  flex-shrink:1;
  position: relative;
  display: inline-block;
}
.drop-btn{
  --btn-scale:100%;
  max-width:80px;
  margin-right:25px;
}
.drop-btn:hover{
  background-color:var(--mu-secondary);
}
.drop-btn img{
  width:var(--btn-scale);
  height:var(--btn-scale);
}
.drop-content {
  display: none;
  position: absolute;
  background-color: var(--mu-primary);
  left:-160px;
  margin-right: 40px;
  min-width: 200px;
  box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.5);
  z-index: 1;
  right:0;
}
.drop-content button{
  color:var(--mu-light-text);
  padding: 12px 16px;
  font-size: 25px;
  width:100%;
  text-align:left;
  display: block;
}
.drop-content button:hover{
  color:var(--mu-dark-text);
}
.dropdown:hover .drop-content {
  display: block;
}
