/*Add fonts*/
@font-face {
  font-family: berlinSansBold;
  src: url(Resources/Fonts/BRLNSB.TTF);
}

@font-face {
  font-family: berlinSans;
  src: url(Resources/Fonts/BRLNSR.TTF);
}

/*Set color pallet*/
:root{
  /*Background colors*/
  --bg-color: lightsteelblue;
  /*menu colors*/
  --mu-primary : midnightblue;
  --mu-secondary: mediumslateblue;
  --mu-tertiary: slateblue;
  --mu-light-text: white;
  --mu-medium-text:royalblue;
  --mu-dark-text: darkblue	;
}

/*Set global aspects*/
body{
  background-color: var(--bg-color);
  font-family: berlinSans;
}

/*Global classes*/
.title{
  font-family: berlinSansBold;
  color: var(--mu-primary);
}

.hidden{
  display:none;
}

.dialog-btn{
  background-color:var(--mu-primary);
  color :var(--mu-light-text);
}
.dialog-btn:hover{
  background-color:var(--mu-secondary);
}

.input-group-text{
  background-color:var(--mu-primary);
  color :var(--mu-light-text);
}

/*Big checkbox classes*/
.big-checkbox{
  margin-bottom:5px;
}
.big-checkbox input{
  width: 25px;
  height: 25px;
}
.big-checkbox label{
  padding-left:10px;
  padding-top:5px;
  padding-bottom: 0px;
  margin:0px;
}
