/*Add fonts*/
@font-face {
  font-family: berlinSansBold;
  src: url(Resources/Fonts/BRLNSB.TTF);
}

@font-face {
  font-family: berlinSans;
  src: url(Resources/Fonts/BRLNSR.TTF);
}

/*Set color pallet*/
:root{
  /*Background colors*/
  --bg-color: lightgrey;
  /*menu colors*/
  --mu-primary : darkslategray;
  --mu-secondary: lightslategray;
  --mu-light-text: white;
  --mu-dark-text: cadetblue	;
}

/*Set global aspects*/
body{
  background-color: var(--bg-color);
  font-family: berlinSans;
}

/*Global classes*/
.title{
  font-family: berlinSansBold;
  color: var(--mu-primary);
}

.hidden{
  display:none;
}

.dialog-btn{
  background-color:var(--mu-primary);
  color :var(--mu-light-text);
}
.dialog-btn:hover{
  background-color:var(--mu-secondary);
}

.input-group-text{
  background-color:var(--mu-primary);
  color :var(--mu-light-text);
}
