	User(DM)
can create Players
can modify Players
can set visable Conditions
can set Condition value
can create or remove Condition
	Player
created by User
has Conditions
shows some Conditions
	Condition
is either active or inactive