/*Style of player cards*/


/*Card container*/
#card-wrap{
  display:flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}

/*The actual cards*/
.player-card{
  margin:15px;
  width:300px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}
.player-card .card-header{

}
.player-card .card-body{
  background-color:var(--mu-tertiary);
  height:300px;
  overflow:auto;
}
.status-element{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.player-card .card-footer{
  display:flex;
  padding:0px;
}
.player-card .card-footer button{
  width:50px;
  background-color:var(--mu-primary);
  color :var(--mu-light-text);
  white-space:nowrap;
}
.player-card .card-footer button:hover{
  background-color:var(--mu-tertiary);
}

@media only screen and (max-width: 680px) {
  .player-card{
    margin:10px;
    width:45%;
  }
  .player-card .card-body{
    height:250px;
  }
  #card-wrap{
    justify-content:space-around;
  }
}
@media only screen and (max-width: 450px) {
  .player-card{
    margin:5px;
    width:90vw;
  }
}

.statusSelect{
  border:0px;
  padding-left:20px;
}
