body{
  background-color: lightgrey
}

.playercard{
  margin: 10px;
  min-width: 200px;
  max-width: 200px;
  min-height: 300px;
  float: left
}

.big-checkbox{
  margin-bottom:5px;
}

.big-checkbox input{
  width: 25px;
  height: 25px;
}

.big-checkbox label{
  padding-left:10px;
  padding-top:5px;
  padding-bottom: 0px;
  margin:0px;
}

.slim{
  padding:0px;
  border:0px;
}

.del-check{
  float: right;
  height: 30px;
  width:30px;
  font-size:10px;
  text-align:center;
}

.addPlayer{

}
